.HeaderProfileButton {
    background-color: #BD5EC2;
    border-radius: 10px;
    min-width: 200px;
    height: 45px;
    padding: 5px 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #be55c4;
        transform: scale(1.01);
    }

    span {
        font-size: 18px;
    }

    img {
        width: 30px;
        height: auto;
    }
}